## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,0,Arraial Do Cabo,BR,71.56,broken clouds,-22.9661,-42.0278,88,75,9.22,2022-07-20 21:33:27,NaN
1,1,Kapaa,US,82.72,few clouds,22.0752,-159.3190,72,20,17.27,2022-07-20 21:32:15,NaN
2,9,Parli,IN,76.39,overcast clouds,18.8486,76.5297,82,100,10.45,2022-07-20 21:34:54,NaN
3,14,Abeche,TD,74.08,light rain,13.8292,20.8324,74,100,15.19,2022-07-20 21:34:55,NaN
4,16,Nikolskoye,RU,67.87,overcast clouds,59.7035,30.7861,65,100,9.51,2022-07-20 21:28:30,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]                   
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4)                        
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Matongo"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Matongo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Goma"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Kalemie"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Kaliua"]

In [10]:
vacation_stop1

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
95,211,Goma,CD,66.54,broken clouds,-1.6792,29.2228,62,62,1.32,2022-07-20 21:39:49,NaN

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [11]:
vacation_stop3

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
50,117,Kaliua,TZ,66.83,few clouds,-5.0606,31.7936,44,16,5.41,2022-07-20 21:37:22,NaN

In [18]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
vacation_itinerary=gmaps.directions_layer(
            start, end, waypoints=[stop1, stop2, stop3],
            travel_mode = "DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,
                          vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,666,Matongo,TZ,66.49,few clouds,-2.3833,34.0833,50,24,5.03,2022-07-20 21:52:20,NaN
1,211,Goma,CD,66.54,broken clouds,-1.6792,29.2228,62,62,1.32,2022-07-20 21:39:49,NaN
2,511,Kalemie,CD,71.04,clear sky,-5.9475,29.1947,53,0,1.34,2022-07-20 21:48:28,NaN
3,117,Kaliua,TZ,66.83,few clouds,-5.0606,31.7936,44,16,5.41,2022-07-20 21:37:22,NaN
4,666,Matongo,TZ,66.49,few clouds,-2.3833,34.0833,50,24,5.03,2022-07-20 21:52:20,NaN

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
locations.head()

      Lat      Lng
0 -2.3833  34.0833
1 -1.6792  29.2228
2 -5.9475  29.1947
3 -5.0606  31.7936
4 -2.3833  34.0833

In [26]:
#11a Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4) 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
                       
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))